<ion-content>
  <ion-label class="title"> 
    <h1>{{ movieDetail.title }}</h1> 
  </ion-label>

  <img [src]="movieDetail.backdrop_path | image" *ngIf="movieDetail.backdrop_path">

  <ion-grid>
    <ion-row>
      <ion-col size="4" class="poster-detail-on">
        <ion-card class="poster">
          <img [src]="movieDetail.poster_path | image" class="poster" *ngIf="movieDetail.poster_path">
      </ion-card>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
          <ion-label>Rating</ion-label>
          <ion-note slot="end" color="primary"> {{ movieDetail.vote_average }} </ion-note>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="people-outline" color="primary"></ion-icon>
          <ion-label>Votos</ion-label>
          <ion-note slot="end" color="primary"> {{ movieDetail.vote_count }} </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12"> 
        <ion-label> {{ movieDetail.overview | slice: 0: numberCharacters}} </ion-label>
        <ion-label color="primary" (click)="numberCharacters = 50000" *ngIf="numberCharacters !== 50000">... Leer más!</ion-label>
      </ion-col>     
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-chip *ngFor="let genre of movieDetail.genres" color="primary">
          <ion-label>{{ genre.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Actores</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOptActors">
    <ion-slide *ngFor="let actor of actors">
      <ion-card class="card-actor">
        <img *ngIf="!actor.profile_path" src="/assets/no-avatar.jpg" >
        <img *ngIf="actor.profile_path" [src]="actor.profile_path | image" >

        <ion-label class="actor-name"> {{ actor.name }} </ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-label> Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favorite()">
        <ion-icon slot="start" [name]="iconFavorite"></ion-icon>
        <ion-label> Favorito</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>