<ion-slides [options]="slidesOptions">
  <ion-slide *ngFor="let movie of movies">

    <ion-card mode="md" (click)="showDetail(movie.id)">
      <img class="poster" [src]= "movie.poster_path | image"/>
    </ion-card>
  </ion-slide>
</ion-slides>