<ion-slides [options]="slidesOptions">
  <ion-slide *ngFor="let pairs of movies  | pairs">

    <ion-row>
      <ion-col size="12" *ngFor="let movie of pairs">
        <ion-card mode="md" (click)="showDetail(movie.id)">
          <img class="poster" [src]= "movie.poster_path | image"/>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-slide>

  <ion-slide class="slide-more">
    <ion-button expand="full" class="btn-more"
      size="large" (click)="onClick()">
    
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-slide>
</ion-slides>