<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let genre of genreFavorite">
    <ion-grid *ngIf="genre.movies.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{ genre.genreName }}</h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [movies]="genre.movies"></app-slideshow-poster>
    </ion-grid>   
  </div>

</ion-content>