<ion-slides [options]="slidesOptions">
  <ion-slide *ngFor="let movie of movies | filterImage">

    <ion-card (click)="showDetail(movie.id)">
      <img [src]= "movie.backdrop_path | image"/>
    </ion-card>
  </ion-slide>
</ion-slides>